@import '../shared.scss';

.stakesTooltip {
  @extend .layout-column;
  @extend .typography-body-small;
  text-transform: none;
  text-align: start;
  gap: 10px;
}

.stakes.light {
  filter: opacity(70%);
}
