@import '../shared.scss';

.stakes {
  display: flex;
  border-radius: 10px;
  overflow: hidden;

  // horizontal
  width: 100%;
  height: max-content;
  flex-direction: row;

  &.vertical {
    height: 100%;
    width: max-content;
    flex-direction: column;
  }
}
