@import '../shared.scss';

.flexGrow {
  align-self: center;
  min-width: 100px;
  flex-grow: 1;
  div {
    margin: 0px;
  }
}

.value {
  @extend .typography-body;
  @extend .layout-row;
  @extend .flexGrow;
  align-items: center;
  text-align: start;
  margin: 14px 20px 15px 0px;
  padding: 0px 21px;
  overflow: hidden;

  &.bold {
    @extend .typography-body-bold;
  }
  &.unordered {
    @extend .typography-pre-title;
  }
  &.completed {
    @extend .unordered;
    color: $COLOR_FOREST;
  }
}

.input {
  font-weight: unset;
  background-color: $COLOR_CLOUD;
  border: 1px solid $COLOR_BLACK40;
  @extend .flexGrow;
  &.bold {
    @extend .typography-body-bold;
  }
}

.buttonsDiv {
  @extend .layout-column;
  align-items: start;
  gap: 5px;
}

.editButtonDiv {
  margin-top: 14px;
}

.withButtonsContainer {
  @extend .layout-row;
  flex-grow: 1;
}
