@import '../shared.scss';

.flexGrow {
  align-self: center;
  min-width: 100px;
  flex-grow: 1;
  div {
    margin: 0px;
  }
}

.value {
  @extend .typography-body;
  @extend .layout-row;
  align-items: center;
  text-align: start;
  margin: 14px 20px 15px 0px;
  padding: 0px 21px;
  overflow-y: auto;

  &.bold {
    @extend .typography-body-bold;
  }
  &.NOT_STARTED {
    @extend .typography-pre-title;
  }
  &.IN_PROGRESS {
    @extend .NOT_STARTED;
    color: $COLOR_ORANGE;
  }
  &.COMPLETED {
    @extend .NOT_STARTED;
    color: $COLOR_FOREST;
  }
  &.multiline {
    white-space: pre-line;
  }
}

.input {
  font-weight: unset;
  background-color: $COLOR_CLOUD;
  border: 1px solid $COLOR_BLACK40;
  @extend .flexGrow;
  &.bold {
    @extend .typography-body-bold;
  }
}

.buttonsDiv {
  @extend .layout-column;
  align-items: start;
  gap: 5px;
  margin-top: 14px;
}

.editButtonDiv {
  margin-top: 14px;
  flex-grow: 1;
  text-align: end;
}

.withButtonsContainer {
  display: flex;
  flex-direction: row;
}

.withButtonsContainerEditMode {
  div:nth-child(1) {
    flex-grow: 1;
  }
}
