@import '../shared.scss';

.expandableWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 366px;
  overflow-y: auto;
  background-color: $COLOR_BLACK10;
  border-radius: 10px;
  padding-bottom: 10px;

  // multiple scrollbars show in the transition
  @extend .hide-scrollbar;
  div {
    @extend .hide-scrollbar;
  }
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;

  &.minimized {
    width: 65px;

    -webkit-transition: width 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
  }
}

.expandableHeader {
  display: flex;
  align-items: center;
  margin: 16px;
  margin-bottom: 10px;

  @extend .typography-pre-title;
  text-align: left;
  cursor: pointer;

  svg {
    margin-right: 11px;
  }
  svg:hover path:first-child {
    fill: $COLOR_FOREST;
  }
  &.minimized {
    flex-direction: column;
    align-items: flex-end;
  }
  &.minimized > div {
    white-space: nowrap;
    margin-right: 16px;
    transform: rotate(-90deg);
    transform-origin: right;
  }
  &.minimized > svg {
    margin-right: 0;
    margin-bottom: 11px;
  }
}

.expandableContent {
  padding: 15px;
  padding-top: 0;
  height: 100%;
}
