@import '../shared.scss';

.loginButton {
  @extend .button-small-filled;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.visdomLogo {
  cursor: pointer;
  &:hover {
    filter: brightness(0.8);
  }
}

.loginNavBar {
  &.landingNavBar {
    @include landing-content-padding;
  }
  &:not(.landingNavBar) {
    margin: auto;
    width: 600px;
  }

  display: grid;
  grid-template-columns: auto 1fr auto;

  position: sticky;
  z-index: 10;
  height: 0px;
  top: 46px;
  transition: transform 0.3s ease-in-out, opacity 0.6s;

  svg {
    height: 32px;
    width: auto;
  }
  &.hidden {
    transform: translateY(-90px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.6s;
  }
}
