@import './../shared.scss';

.ratingDiv {
  display: flex;
  margin-bottom: 7.5px;
}

.rating {
  @extend .typography-pre-title;

  color: $COLOR_AZURE;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  top: -3px;
}
