@import '../shared.scss';

.completedness {
  @extend .layout-column;
  text-align: left;
  gap: 5px;

  .labels {
    @extend .layout-row;
    justify-content: space-between;

    &.grey {
      color: $COLOR_BLACK40;
      .label > div {
        color: $COLOR_BLACK40;
      }
    }
  }
  .label {
    @extend .layout-row;
    gap: 5px;

    &.COMPLETED > div {
      color: $COLOR_FOREST;
    }
    &.IN_PROGRESS > div {
      color: $COLOR_ORANGE;
    }
  }
}

.completednessTooltip {
  @extend .layout-column;
  @extend .typography-body-small;
  text-transform: none;
  text-align: start;
  gap: 10px;
  div {
    @extend .layout-row;
    gap: 10px;
  }
}

.progressIndicator {
  @extend .layout-row;
  border-radius: 10px;
  overflow: hidden;

  width: 100%;
  height: max-content;
}
