@import '../shared.scss';

.navBarDiv {
  position: relative;
  top: 0;
  left: 0;
  height: 56px;
  min-height: 56px;
  width: 100%;
  border: 0;

  @extend .layout-row;
  justify-content: flex-start;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: $COLOR_BLACK5;
}

.logo {
  padding-top: 22px;
  padding-left: 2px;
  svg {
    width: 60px;
    height: 60px;
  }
}

.navBarRightSide {
  @extend .layout-row;
  gap: 16px;
  margin-right: 16px;
  flex: 1;
  justify-content: flex-end;
  vertical-align: middle;
}

.navBarDivider {
  border: 0;
  border-left: 1px solid $COLOR_BLACK10;
  width: 0px;
  height: 30px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.navBarLink {
  display: flex;
  align-items: center;

  color: $COLOR_BLACK100;
  margin: 12px 0;
}

.navBarLink:hover .icon {
  color: $COLOR_EMERALD;
}

.navBarText {
  display: flex;
  align-items: center;

  @extend .typography-body-small;

  color: $COLOR_BLACK60;
}

.icon {
  @extend .transform-transition;
  color: $COLOR_BLACK40;
}

.userInfoContainer {
  @extend .typography-body-small;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
