@import '../shared.scss';

.section {
  @extend .layout-column;
  align-items: flex-start;
  gap: 52px;
}

.header {
  @extend .layout-row;
  @extend .typography-h2;
  align-items: flex-start;
  width: 100%;
  gap: 24px;

  & > *:not(.buttons) {
    margin-top: 12px; // the default padding of the buttons
  }

  .name {
    font-weight: normal;
    max-width: 70%;
    display: inline-block;
    overflow-wrap: break-word;
  }
}

.editableContainer {
  width: inherit;
  * {
    margin: 0px;
    overflow-wrap: anywhere;
    align-items: start;
  }
  div {
    textarea {
      overflow: auto !important;
      background-color: $COLOR_WHITE;
    }
    div:nth-child(2) {
      padding-right: 5%;
      justify-content: left;
    }
  }
}

.arrowIcon {
  height: 24px;
  width: 24px;
  color: $COLOR_BLACK100;
}

.buttons {
  @extend .layout-row;
  @extend .rightSide;
  flex-wrap: nowrap;

  .disabled path:first-child {
    fill: $COLOR_BLACK40;
  }
}

.content {
  @extend .layout-row;
  width: 100%;
  gap: 5%;

  &.vertical,
  &.vertical .data {
    flex-direction: column;
  }
}

.metrics {
  @extend .layout-row;
  gap: 20px;
}

.data {
  @extend .layout-row;
  flex: 1;
  gap: 10px;
  .column {
    @extend .layout-column;
    align-items: center;
    gap: 5px;
    flex: 1;
    max-width: 600px;
    min-width: 300px;
  }
  .row {
    @extend .layout-row;
    gap: 10px;
    width: 100%;
  }
  .label {
    @extend .typography-body-bold;
    color: $COLOR_AZURE;
    min-width: 100px;

    text-align: start;
    line-height: 21px;
  }
  .value {
    @extend .typography-body;
    @extend .layout-row;
    text-align: start;

    padding-left: 21px;
    padding-bottom: 2px;
    line-height: 21px;
    overflow-wrap: anywhere;
    overflow: auto;
    max-height: 63px;
    align-items: center;

    &.bold {
      @extend .typography-body-bold;
    }
    &.NOT_STARTED {
      @extend .typography-pre-title;
    }
    &.IN_PROGRESS {
      @extend .NOT_STARTED;
      color: $COLOR_ORANGE;
    }
    &.COMPLETED {
      @extend .NOT_STARTED;
      color: $COLOR_FOREST;
    }
    &.clientGap {
      @extend .layout-row;
      gap: 10px;
    }
  }
}
