@import '../shared.scss';

.section {
  @extend .layout-column;
  align-items: flex-start;
  gap: 52px;
}

.header {
  @extend .layout-row;
  @extend .typography-h2;
  align-items: flex-start;
  width: 100%;
  gap: 24px;

  & > *:not(.buttons) {
    margin-top: 12px; // the default padding of the buttons
  }

  .name {
    font-weight: normal;
    max-width: 70%;
    display: inline-block;
    overflow-wrap: break-word;
  }
}

.arrowIcon {
  height: 24px;
  width: 24px;
  color: $COLOR_BLACK100;
}

.buttons {
  @extend .layout-row;
  margin-left: auto;
  flex-wrap: nowrap;

  .disabled path:first-child {
    fill: $COLOR_BLACK40;
  }
}

.content {
  @extend .layout-row;
  width: 100%;
  gap: 5%;
}

.metrics {
  @extend .layout-row;
  gap: 20px;
}

.data {
  @extend .layout-row;
  flex: 1;
  gap: 10px;
  .column {
    @extend .layout-column;
    align-items: center;
    gap: 5px;
    flex: 1;
    max-width: 600px;
    min-width: 300px;
  }
  .row {
    @extend .layout-row;
    gap: 10px;
    min-height: 50px;
    width: 100%;
  }
  .label {
    @extend .typography-body-bold;
    color: $COLOR_AZURE;
    min-width: 100px;
    text-align: start;
    line-height: 50px;
  }
  .value {
    @extend .typography-body;
    @extend .layout-row;
    align-items: center;
    text-align: start;

    padding-left: 21px;
    padding-bottom: 2px;

    &.bold {
      @extend .typography-body-bold;
    }
    &.unordered {
      @extend .typography-pre-title;
    }
    &.completed {
      @extend .unordered;
      color: $COLOR_FOREST;
    }
    &.clientGap {
      @extend .layout-row;
      gap: 10px;
    }
  }
}
