@import '../shared.scss';

.graphWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid $COLOR_SKY;
}

.buttonsBar {
  display: flex;
  margin-left: 46px;
  padding-bottom: 16px;
}

.label {
  @extend .typography-pre-title;
}

.lockIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 8px;
  }
}
