@import "../shared.scss";

.graphWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: rgb(247, 247, 247);
}

.buttonsBar {
    display: flex;
    margin-left: 46px;
    padding-bottom: 16px;
}

.lockIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 1.2em;
        height: 1.2em;
        margin-right: 8px;
    }
}