@import '../shared.scss';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbarFiller {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid $COLOR_BLACK40;
}

.navbarButton {
  font-size: 18px;
  padding: 14px 32px;
  border-bottom: 1px solid $COLOR_BLACK40;
  justify-content: center;
  color: $COLOR_BLACK100;
  text-align: center;
  text-decoration: none;
  font-family: 'Work Sans';
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  user-select: none;
  background-color: inherit;
  &:hover {
    background-color: #ededed;
    text-decoration: none;
    color: $COLOR_BLACK100;
  }
  &.highlight {
    border-bottom: 3px solid $COLOR_FOREST;
    color: $COLOR_FOREST;
    background-color: $COLOR_BLACK10;
    &:hover {
      background-color: $COLOR_BLACK10;
    }
  }
}
