@import '../shared.scss';

.roadmapSummary {
  @extend .shadow-roadmapblock;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 30px;

  min-width: 360px;
  min-height: 200px;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
  background: white;
}

.header {
  @extend .typography-subtitle;
  display: flex;
  align-items: flex-start;
  gap: 11.5px;

  .roadmapName {
    display: flex;
    word-break: break-word;
  }

  .defaultProject path {
    fill: $COLOR_FOREST;
  }
}

.metrics {
  display: flex;
  gap: 20px;
}

.peopleHeader {
  @extend .typography-body-bold;
}

.people {
  @extend .typography-body-small;
  color: $COLOR_BLACK60;
  width: 300px;
}

.openButton {
  @extend .button-large;
  display: flex;
  justify-content: center;
}

.projectMenu {
  @extend .menu;
  margin-top: 10px;
  margin-left: 15px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    button {
      text-align: start;
    }
  }
}
