@import './forms/DropdownGreen.module.scss';

.ratingContainer {
  min-width: 450px;
  flex-grow: 1;
  hr {
    width: 100%;
    border-top: 1px solid $COLOR_BLACK10;
  }
}

.titleContainer {
  @extend .layout-row;
  line-height: 150%;
  margin: 16px 0 26px 26px;
  align-items: center;
  text-align: start;

  .rightSide {
    @extend .typography-body-small;
    @extend .layout-row;
    color: $COLOR_BLACK60;
    align-items: center;
    width: max-content;

    .dropMenu {
      width: max-content;
      left: unset;
      right: 0;
    }
  }
}

.subtitleContainer {
  @extend .layout-row;
  color: $COLOR_AZURE;
  align-items: center;
  padding: 0px 20px;
}

.ratingRow {
  width: 100%;
  padding: 0px 20px;
}

.topRow {
  @extend .layout-row;
  align-items: center;
  gap: 10px;

  .roleIcon path {
    fill: $COLOR_AZURE;
  }
}

.valueRating {
  @extend .layout-row;
  align-items: center;
  gap: 10px;

  .leftSide {
    @extend .layout-column;
    @extend .hide-text-ellipsis;
    flex: 1;
  }
  .bottomRow {
    @extend .topRow;
    color: $COLOR_BLACK40;
    padding-left: 25px;
  }
}

.rightSide {
  @extend .typography-h3;
  @extend .layout-row;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  gap: 10px;

  .value {
    min-width: 30px;
  }
}

.name {
  max-width: 100%;
  text-align: start;
  @extend .hide-text-ellipsis;
}

.comment {
  background-color: $COLOR_WHITE;
  color: $COLOR_BLACK60;

  padding: 15px 20px;
  margin-top: 15px;
  border-radius: 10px;

  text-align: start;
  white-space: pre-line;
  max-height: 250px;
  overflow: auto;
  word-wrap: break-word;
}

.measureComment {
  @extend .comment;
  visibility: hidden;
  padding: 0;
  margin: 0;
}
