@import './../shared.scss';

.container {
  @extend .layout-column;
  height: 100vh;
}

.buttonsContainer {
  @extend .layout-column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  // smaller scrollbar to prevent text clipping
  &::-webkit-scrollbar {
    width: 10px;
  }
}

.navButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 104px;
  min-height: 104px;
  gap: 5px;

  @extend .typography-pre-title;

  color: $COLOR_BLACK100;
  border-left: 10px solid white;
  border-right: 10px solid white;
  padding: 0 -5px;

  &:hover {
    color: $COLOR_BLACK100;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  &.selected:not(.settings) {
    background-color: $COLOR_BLACK5;
    border-left: 5px solid $COLOR_SKY;
    border-right: 5px solid $COLOR_BLACK5;
  }

  &.settings {
    margin-top: auto;
    border-top: 1px solid $COLOR_BLACK10;
    font-weight: normal;

    &:hover > svg,
    &.selected > svg {
      color: $COLOR_AZURE;
    }
  }
}

.logo {
  svg {
    min-width: 60px;
    min-height: 60px;
  }
  margin-bottom: 60px;
}
