@import '../shared.scss';

.dropContainer {
  margin-top: 12px;
}

.dropButton {
  @extend .layout-row;
  align-items: center;
  border-radius: 16px;
  border: 2px solid $COLOR_EMERALD;
  box-sizing: border-box;
  height: 32px;
  background-color: white;
  font-size: 12px;
  justify-content: space-between;
  padding: 0px 16px;
}

.dropButton:focus {
  outline: none;
}

.dropButton:disabled {
  color: $COLOR_BLACK40;
  cursor: not-allowed;
}

.dropMenu {
  @extend .layout-column;
  width: auto;
  border: 1px solid $COLOR_BLACK10;
  border-radius: 4%;
  align-items: center;
  overflow: hidden;
  margin-top: 4px;
  z-index: 999;
}

.menuCanvas {
  background-color: white;
  width: 100%;
  z-index: 999;
}

.emptyTitle {
  color: #696969;
}

.dropItem {
  background-color: white;
  border: none;
  display: block;
  width: 100%;
  font-size: 12px !important;
  text-decoration: none;
  color: $COLOR_BLACK100;
  padding: 3px;
}

.dropItem:hover {
  background-color: $COLOR_BLACK5;
  color: $COLOR_BLACK100;
  text-decoration: none;
  cursor: pointer;
}

.dropItem:focus {
  outline: none;
}

.expandIcon {
  margin-right: -8px;
  margin-left: 6px;
  width: 17px !important;
  height: 17px !important;
}
