@import '../shared.scss';

.dropContainer {
  position: relative;
  margin-top: 12px;
  min-width: 60px;
  max-width: 200px;
}

.dropButton {
  @extend .typography-body-small;
  position: relative;
  align-items: center;
  white-space: nowrap;
  margin-right: 0;
  margin-left: auto;
  border-radius: 16px;
  border: 2px solid $COLOR_EMERALD;
  height: 32px;
  padding: 0px 26px 0px 16px;
  background-color: $COLOR_BLACK5;

  &:hover,
  &:focus {
    background: white;
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
    color: $COLOR_BLACK40;
  }
}

.dropMenu {
  position: absolute;
  z-index: 4000;
  left: 0;
  overflow: hidden; // Overflow needs to be hidden or border-corners will be hid
  word-wrap: break-word;
  margin-top: 5px;
  border: 1px solid $COLOR_BLACK10;
  border-radius: 4%;
  min-width: 130px;
  max-width: 200px;
  width: auto;
}

.menuCanvas {
  background-color: white;
}

.dropItem {
  @extend .typography-body-small;
  display: block;
  border: none;
  padding: 3px 10px;
  color: $COLOR_BLACK100;
  text-align: left;

  &:hover,
  &:focus {
    background-color: $COLOR_BLACK5;
    color: $COLOR_BLACK100;
    text-decoration: none;
  }
}

.expandIcon {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 17px;
  height: 17px;
}

.emptyTitle {
  color: $COLOR_BLACK60;
}
