@import '../shared.scss';

.dataFlexbox {
  margin-top: 32px;
  display: flex;
}

.dataNumberWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  @extend .typography-big-number;
  line-height: unset;

  color: $COLOR_AZURE;

  svg {
    margin-left: 8px;
    color: $COLOR_BLACK100;
  }
}

.dash {
  border: 0.5px solid $COLOR_BLACK40;
  width: 8px;
  position: relative;
  top: 5px;
}

.dataEntryWrapper {
  @extend .typography-pre-title;
  line-height: unset;

  display: flex;
  flex-direction: column;
  height: 116px;
  padding: 16px;
  margin-right: 20px;
  border: 1px solid $COLOR_SKY;
  border-radius: 10px;
  background-color: transparent;
}
