@import '../shared.scss';

.dataFlexbox {
  margin-top: 32px;
  display: flex;
}

.dataNumberWrapper {
  font-family: Work Sans;
  margin: auto;
  color: $COLOR_AZURE;
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;

  svg {
    position: relative;
    top: -4px;
    color: $COLOR_AZURE;
    width: 32px;
    height: 32px;
  }
}

.dataEntryWrapper {
  font-family: Ibm Plex Mono;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  margin-left: 0px;
  margin-right: 16px;
  border-radius: 24px;
  background-color: transparent;
  text-transform: uppercase;
}
