@import '../shared.scss';

.outerContainer {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid $COLOR_SKY;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 180px;
  text-align: start;
}

.header {
  margin-left: 16px;
}

.completedtasks {
  font-size: 12px;
  position: absolute;
  left: 63px;
  top: 142px;
  font-weight: 600;
  color: #777777;
}

.notcompletedtasks {
  font-size: 12px;
  position: absolute;
  left: 182px;
  top: 142px;
  font-weight: 600;
  color: #777777;
}
