@import './../shared.scss';

.icon {
  display: inherit;
  path {
    fill: var(--icon--color, $COLOR_BLACK40);
  }
}

.xxsmall svg {
  width: 10.5px;
  height: 10.5px;
}
.xsmall svg {
  width: 13.5px;
  height: 13.5px;
}
.small svg {
  width: 15px;
  height: 15px;
}
.default svg {
  width: 18px;
  height: 18px;
}
.large svg {
  width: 20px;
  height: 20px;
}

.roleIcon path {
  fill: var(--icon--color, $COLOR_BLACK40);
}
