@import '../shared.scss';

.taskDiv {
  @extend .layout-column;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: white;
  user-select: none;
}

.innerDiv {
  @extend .layout-row;
}

.leftSideDiv {
  @extend .taskNameContainer;
  margin: auto;
}

.rightSideDiv {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  svg:last-child {
    color: $COLOR_BLACK40;
  }
}

.shares {
  @extend .layout-row;
  justify-content: flex-start;
  margin-top: auto;
}

.dependencyTooltip {
  @extend .layout-row;
  align-items: center;
  gap: 10px;
  & > svg {
    width: 15px;
    height: 100%;
  }
}

.taskDetailsTooltip {
  @extend .typography-body;
  @extend .layout-column;
  align-items: center;
  gap: 9px;
  text-transform: none;

  .title {
    @extend .typography-body-bold;
    margin-bottom: 2px;
  }

  .extraMargin {
    margin-top: 7px;
  }

  .taskDetailsLink {
    @extend .extraMargin;
    @extend .layout-row;
    align-items: center;
    gap: 7px;
  }

  .customerValues {
    @extend .layout-row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7px;
    gap: 15px;
  }
}

.critical {
  color: $COLOR_AZURE;
}
