@import '../shared.scss';

.taskDiv {
  display: flex;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: white;
  user-select: none;
}

.leftSideDiv {
  @extend .taskNameContainer;
}

.rightSideDiv {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  svg:last-child {
    color: $COLOR_BLACK40;
    margin-left: 8px;
  }
}
