@import './../shared.scss';

.editCustomer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  :not(:first-child) {
    margin-left: 20px;
  }
}

.arrowIcon {
  height: 24px;
  width: 24px;
  color: $COLOR_BLACK40;
  &:hover {
    color: $COLOR_EMERALD;
  }
}
