@import './../shared.scss';

.editMember {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.memberIcon path {
  fill: $COLOR_BLACK40;
}

.userText {
  color: $COLOR_AZURE;
}
