@import './../shared.scss';

.buttons {
  @extend .layout-row;
  margin-left: auto;
  align-items: center;
}

.dot {
  @extend .layout-row;
  align-items: center;
}

.adminButtons {
  @extend .layout-row;
  gap: 10px;
}
