@import './../shared.scss';

.tile {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.row {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}

.outerContainer {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid $COLOR_SKY;
  padding-left: 16px;
  padding-top: 16px;
  text-align: start;
  min-width: 215px;
  min-height: 212px;

  .xaxismin {
    position: relative;
    left: 10px;
    display: inline-block;
    width: 0;
  }
  .xaxismax {
    position: relative;
    display: inline-block;
    width: 0;
    left: 135px;
  }
  .xaxislabel {
    @extend .typography-pre-title;
    position: relative;
    left: 68px;
    display: inline-block;
    width: 0;
  }
}

.graphicsContainer {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.graphicsFlexbox {
  display: flex;
  .yaxislabel {
    @extend .typography-pre-title;
    position: relative;
    top: 7px;
    right: 7px;
    align-self: center;
    transform: rotate(-90deg);
  }
  .yaxismax {
    position: relative;
    left: 5px;
    bottom: -6px;
    width: 0;
    height: 0;
  }
  .yaxismin {
    align-self: flex-end;
    position: relative;
    left: 5px;
    bottom: 10px;
    width: 0;
    height: 0;
  }
}
