@import './../shared.scss';

.taskRatingRow {
  display: flex;
}

.taskRating {
  display: flex;
  align-items: center;
  gap: 4.75px;

  @extend .typography-pre-title;

  &:last-child {
    margin-left: 11.75px;
  }
}
