@import '../shared.scss';

.overview {
  @extend .layout-row;
  width: 100%;
  gap: 10px;
}

.metrics {
  display: flex;
  gap: 20px;
}

.data {
  @extend .layout-row;
  justify-content: space-evenly;
  align-items: stretch;
  flex: 1;
}

.dataColumn {
  @extend .layout-column;
  align-items: flex-start;
  gap: 5px;
}

.dataRow {
  @extend .layout-row;
  gap: 10px;
  min-height: 50px;
}

.label {
  @extend .typography-body-bold;
  color: $COLOR_AZURE;
  width: 100px;
  text-align: start;
  line-height: 50px;
}

.value {
  @extend .layout-row;
  align-items: center;
  width: 250px;
  &.bold {
    font-weight: bold;
  }
  &.unordered {
    @extend .typography-pre-title;
  }
  &.completed {
    @extend .unordered;
    color: $COLOR_FOREST;
  }
}

.input {
  background-color: $COLOR_CLOUD;
  border: 1px solid $COLOR_BLACK40;
  width: 250px;
}

.spinnerDiv {
  width: 250px;
  margin-top: 10px;
}
