@import '../shared.scss';

.tableContainer {
  margin-bottom: 50px;
}

.taskTableHeader {
  display: flex;
  margin-top: 25px;
  margin-bottom: 27px;
  margin-left: 24px;
}

.infoContainer {
  margin-left: 24px;
}
