@import '../shared.scss';

.firstStop {
  stop-color: $COLOR_FOREST !important;
}
.secondStop {
  stop-color: $COLOR_ORANGE !important;
}

.invisiblePath {
  stroke: $COLOR_AZURE !important;
  pointer-events: all !important;
  stroke-width: 15 !important;
  opacity: 0 !important;
  cursor: pointer !important;

  &.loading {
    cursor: wait !important;
  }
  &:hover {
    opacity: 0.1 !important;
  }
  &.disableInteraction:not(.loading) {
    cursor: -webkit-grabbing !important;
    stroke: transparent !important;
  }
}

.loading {
  cursor: wait !important;
}
