@import '../pages/TaskMapPage.module.scss';

.singleTask {
  @extend .layout-row;
  width: 360px;
  min-height: 40px;
  max-height: 90px;
  background-color: $COLOR_WHITE;
  margin: 10px;
  border-radius: 5px;
  border: 0px;
  padding: 10px 16px;
  position: relative;
  align-items: center;

  button {
    visibility: hidden;
    padding: 0;
    border: 0;
  }

  .doneIcon {
    color: $COLOR_EMERALD;
    margin-right: 5px;
  }

  &.dragging {
    font-size: calc(14px * #{$ZOOM});
    border-radius: calc(5px * #{$ZOOM});
    padding: calc(10px * #{$ZOOM}) calc(16px * #{$ZOOM});
    width: calc(360px * #{$ZOOM});
    min-height: calc(40px * #{$ZOOM});
    max-height: calc(90px * #{$ZOOM});

    &.draggingOutside {
      box-shadow: 0px 0px 30px rgba($color: $COLOR_AZURE, $alpha: 0.3);
    }

    .doneIcon {
      margin-right: calc(5px * #{$ZOOM});
      width: calc(1em * #{$ZOOM});
      height: calc(1em * #{$ZOOM});
    }
  }
  &.loading:not(.dragging) {
    cursor: wait;
  }
}

.selectedTask {
  @extend .singleTask;
  color: $COLOR_WHITE;
  background-color: $COLOR_AZURE;
  .doneIcon {
    color: $COLOR_WHITE;
  }
}

.draggingHandle {
  height: calc(17px * #{$ZOOM});
  width: calc(17px * #{$ZOOM});
  border-width: calc(2px * #{$ZOOM});
}

.leftHandle {
  visibility: visible;
  position: absolute;
  left: -3%;
  border-radius: 20;
  height: 17px;
  width: 17px;
  background-color: $COLOR_WHITE;
  border: 2px solid $COLOR_ORANGE;

  &.dragging {
    @extend .draggingHandle;
  }
}

.filledLeftHandle {
  background-color: lighten($COLOR_ORANGE, 20%);
}

.rightHandle {
  visibility: visible;
  position: absolute;
  left: 97%;
  border-radius: 20;
  height: 17px;
  width: 17px;
  background-color: $COLOR_WHITE;
  border: 2px solid $COLOR_FOREST;

  &.dragging {
    @extend .draggingHandle;
  }
}

.filledRightHandle {
  background-color: lighten($COLOR_FOREST, 20%);
}

.taskRatingTexts {
  margin-left: auto;
}

.taskName {
  width: 210px;
  max-height: 40px;
  text-align: left;
  overflow: hidden;
  word-wrap: break-word;

  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;

  &.dragging {
    width: calc(210px * #{$ZOOM});
    max-height: calc(40px * #{$ZOOM});
  }
}
