@import './../shared.scss';

$ZOOM: var(--zoom, 1);

.taskMap {
  @extend .layout-column;
  width: 100%;
}

.info {
  position: relative;
  left: 28px;
  bottom: 26px;
  width: 16px;
}

.taskName {
  @extend .taskNameContainer;

  &.dragging {
    width: calc(210px * #{$ZOOM});
    max-height: calc(40px * #{$ZOOM});
  }
}

.measureTaskName {
  @extend .taskName;
  visibility: hidden;
}
