@import './TaskMap.module.scss';

.singleTask {
  @extend .layout-row;
  width: 96%;
  min-width: 330px;
  min-height: 40px;
  max-height: 90px;
  background-color: $COLOR_WHITE;
  margin: 10px;
  border-radius: 5px;
  border: 0px;
  padding: 10px 16px;
  position: relative;
  align-items: center;

  &.unavailable {
    filter: grayscale(100%) opacity(20%);
  }

  button {
    visibility: hidden;
    padding: 0;
    border: 0;
  }

  .doneIcon {
    color: $COLOR_EMERALD;
    margin-right: 5px;
  }

  &.dragging {
    font-size: calc(14px * #{$ZOOM});
    border-radius: calc(5px * #{$ZOOM});
    padding: calc(10px * #{$ZOOM}) calc(16px * #{$ZOOM});
    width: calc(360px * #{$ZOOM});
    min-width: 0px;
    min-height: calc(40px * #{$ZOOM});
    max-height: calc(90px * #{$ZOOM});

    &.draggingOutside {
      box-shadow: 0px 0px 30px rgba($color: $COLOR_AZURE, $alpha: 0.3);
    }

    .doneIcon {
      margin-right: calc(5px * #{$ZOOM});
      width: calc(1em * #{$ZOOM});
      height: calc(1em * #{$ZOOM});
    }
  }
  &.loading:not(.dragging) {
    cursor: wait;
  }
}

.selectedTask {
  @extend .singleTask;
  color: $COLOR_WHITE;
  background-color: $COLOR_AZURE;
  .doneIcon {
    color: $COLOR_WHITE;
  }
}

.handle {
  visibility: visible;
  position: absolute;
  border-radius: 50% !important;
  height: 17px !important;
  width: 17px !important;
  background-color: $COLOR_WHITE !important;

  &.dragging {
    height: calc(17px * #{$ZOOM}) !important;
    width: calc(17px * #{$ZOOM}) !important;
    border-width: calc(2px * #{$ZOOM}) !important;
  }
}

.leftHandle {
  @extend .handle;
  left: -3%;
  border: 2px solid $COLOR_ORANGE !important;

  &.filled {
    background-color: lighten($COLOR_ORANGE, 20%) !important;
  }

  &.connectable {
    box-shadow: 0 0 10px 4px $COLOR_ORANGE !important;
  }
}

.rightHandle {
  @extend .handle;
  left: 97%;
  border: 2px solid $COLOR_FOREST !important;

  &.filled {
    background-color: lighten($COLOR_FOREST, 20%) !important;
  }

  &.connectable {
    box-shadow: 0 0 10px 4px $COLOR_FOREST !important;
  }
}

.taskRatingTexts {
  margin-left: auto;
}
