@import './TaskMapTask.module.scss';

.listContainer {
  flex-grow: 1;
  min-width: 387px;
  max-width: 420px;
  margin-bottom: 5px;
}

.noRelations {
  @extend .typography-pre-title;
  text-align: left;
  margin-left: 10px;
}

.titleContainer {
  @extend .layout-row;
  line-height: 150%;
  margin: 10px 0 20px 10px;
  align-items: center;
  text-align: start;
  gap: 10px;

  svg {
    position: relative;
    top: -4px;
  }

  &.Requires {
    color: $COLOR_ORANGE;
  }
  &.Precedes {
    color: $COLOR_FOREST;
  }
  &.Contributes {
    color: $COLOR_AZURE;
  }
}

.task {
  @extend .singleTask;
  margin-top: 4px;
  margin-bottom: 4px;

  &:hover {
    background-color: adjust-color($COLOR_SKY, $lightness: 11%);
  }
}
