@import '../shared.scss';

// Bottom and top left radius for clean looking hover
.ratedTitle {
  padding-left: 25px;
  text-align: left;
}

.ratedButtons {
  @extend .textAlignEnd;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.doneIcon {
  color: $COLOR_EMERALD;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.completedRow {
  color: $COLOR_BLACK60;
}

.COMPLETED {
  @extend .typography-pre-title;
  color: $COLOR_FOREST;
}

.IN_PROGRESS {
  @extend .typography-pre-title;
  color: $COLOR_ORANGE;
}
.NOT_STARTED {
  @extend .typography-pre-title;
  color: $COLOR_BLACK100;
}

.missingRatings {
  display: flex;
  align-items: center;
}

.taskTitle {
  text-align: left;
  overflow-wrap: break-word;
}

.userIcon {
  color: $COLOR_BLACK60;
}

.buttonContainer {
  @extend .textAlignEnd;
  @extend .nowrap;
  display: flex;
  justify-content: right;
  align-items: center;
}

.deleteIcon {
  margin-right: 8px;
  margin-left: 12px;
}
