@import '../shared.scss';

.tableContainer {
  margin-bottom: 50px;
}

.infoContainer {
  margin-left: 24px;
}

.titleContainer {
  display: flex;
  line-height: 150%;
  margin: 16px 0 26px 26px;
  align-items: center;
  .title {
    text-align: start;
  }
  .infoIcon {
    margin-left: 12px;
  }
}
