@import './TaskMap.module.scss';

.taskGroup {
  @extend .layout-column;
  position: relative;
  padding: 10px 0;
  width: 405px;
  background-color: rgba($COLOR_CLOUD, 0.75);
  border-radius: 10px;

  &:not(.unavailable, .loading) {
    cursor: all-scroll;
  }

  // Needs to override dnd-default hover styles so !important is required
  &.unavailable {
    max-height: var(--nodeHeight);
    background-color: rgba($COLOR_CLOUD, 0.75) !important;
    filter: grayscale(100%) opacity(20%);
    cursor: not-allowed !important;
  }

  &.draggingSomething:not(.unavailable, .loading) {
    cursor: grabbing !important;
  }

  &.loading {
    cursor: wait !important;
  }

  &.highlight {
    box-shadow: 0px 0px 20px rgba($color: $COLOR_AZURE, $alpha: 0.15);
    background-color: rgba($color: $COLOR_AZURE, $alpha: 0.15);
    cursor: -webkit-grabbing;
  }
}
