@import './TaskMap.module.scss';

.taskGroup {
  @extend .layout-column;
  position: relative;
  padding: 10px 0; // Changed from 20px 15px;
  width: 405px;
  background-color: rgba($COLOR_CLOUD, 0.75);
  border-radius: 10px;

  &:not(.unavailable, .loading) {
    cursor: all-scroll;
  }

  &.unavailable {
    filter: grayscale(100%) opacity(20%);
    cursor: not-allowed;
  }

  // &.loading:not(.highlight, .unavailable) {
  //   cursor: wait;
  // }

  // Kun dragaat taskia ja hiiri on task groupin päällä, mutta taskin keskikohta ei ole groupin sisällä,
  // tämä tulee käytäntöön:
  &.draggingSomething:not(.unavailable) {
    cursor: grabbing !important;
  }

  &.highlight {
    box-shadow: 0px 0px 20px rgba($color: $COLOR_AZURE, $alpha: 0.15);
    background-color: rgba($color: $COLOR_AZURE, $alpha: 0.15);
    cursor: -webkit-grabbing;
  }
}
