@import '../shared.scss';

.firstStop {
  stop-color: $COLOR_FOREST !important;
}
.secondStop {
  stop-color: $COLOR_ORANGE !important;
}

.invisiblePath {
  stroke: $COLOR_AZURE !important;
  pointer-events: all !important;
  stroke-width: 15 !important;
  opacity: 0 !important;
  cursor: pointer !important;

  &.loading {
    cursor: wait !important;
  }
  &:hover {
    opacity: 0.1 !important;
  }
  &.disableInteraction:not(.loading) {
    cursor: -webkit-grabbing !important;
    stroke: transparent !important;
  }
  &.open {
    opacity: 0.1 !important;
  }
}

.loading {
  cursor: wait !important;
}

.menu :global .MuiMenu-paper {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 30px;
  border-radius: 20px;
}

.menuItem {
  background-color: $COLOR_WHITE !important; // !important to override MUI default styles
  color: $COLOR_BLACK10; // Adds color for default effect from MUI: turn background color of the menu item to lower shade of the "color" on click
}

.deleteText {
  @extend .typography-pre-title;
  color: $COLOR_BLACK100;
  margin-left: 5px;
}

.deleteIcon {
  color: $COLOR_RASPBERRY;
  width: 16px;
}
