@import './../shared.scss';

.taskRatingRow {
  display: flex;
}

.taskRating {
  display: flex;
  align-items: center;

  @extend .typography-pre-title;

  svg {
    height: 10.5px;
    width: 10.5px;
    margin-right: 4.75px;
  }
  > div {
    margin-right: 4.75px;
  }
  &:last-child {
    margin-left: 11.75px;
  }
}
