@import './../shared.scss';

$ZOOM: var(--zoom, 1);

.taskMap {
  @extend .layout-column;
  width: 100%;
}

.controlsContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.controls {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: none;
  top: 10px;
  gap: 7px;
}

.controlButton {
  cursor: pointer;
}

.taskmapInfo {
  width: 27px;
  height: 27px;
}
