@import '../pages/TaskMapPage.module.scss';

.taskGroup {
  @extend .layout-column;
  position: relative;
  padding: 20px 15px;
  width: 405px;
  background-color: rgba($COLOR_CLOUD, 0.75);
  border-radius: 10px;
  cursor: default;

  &.unavailable {
    filter: grayscale(100%) opacity(20%);
  }

  &.loading:not(.highlight) {
    cursor: wait;
  }

  &.highlight {
    box-shadow: 0px 0px 20px rgba($color: $COLOR_AZURE, $alpha: 0.15);
    background-color: rgba($color: $COLOR_AZURE, $alpha: 0.15);
    cursor: -webkit-grabbing;
  }
}
