@import '../shared.scss';

.content {
  @extend .layout-column;
  gap: 60px;
  margin-top: 30px;
}

.roleColumn {
  @extend .layout-row;
  gap: 1rem;
}

.section {
  @extend .layout-column;
  gap: 30px;
}

.subtitle {
  @extend .typography-pre-title;
  color: $COLOR_FOREST;
}

.layoutRow {
  @extend .layout-row;
  gap: 100px;
}

.unVerifiedText {
  color: $COLOR_AZURE;
  margin: auto 0px;
}

.textContainer {
  @extend .layout-row;
  min-width: 400px;
}

.passwordButton {
  @extend .button-small-filled;
  justify-content: center;
  display: flex;
}
