@import '../../../shared.scss';

.section {
  margin-bottom: 20px;
}

.colorSection {
  margin: 10px 20px 0 20px;
  .colorType {
    display: flex;
    > :first-child {
      margin-right: 50px;
    }
  }
}

.representatives {
  margin-left: 20px;
  margin-top: 10px;
}

.representative {
  display: flex;
  align-items: center;

  > :last-child {
    margin-left: 20px;
    position: relative;
    top: -4px;
  }
  .icon path {
    fill: $COLOR_BLACK40;
  }
  .active path {
    fill: $COLOR_AZURE;
  }
}
