.container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.close-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: black;
  width: 60px;
  height: 60px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
      width: 30px;
      height: 30px;
  }
}