@import './../../../shared.scss';

.roleSection {
  margin: 2px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.role {
  display: flex;
  align-items: center;

  .memberIcon {
    position: relative;
    top: -4px;

    path {
      fill: $COLOR_BLACK40;
    }
  }
  &.checked .memberIcon path {
    fill: $COLOR_BLACK100;
  }
}

.warning {
  @extend .typography-body;
  width: 422px;
  margin-top: 20px;
  color: $COLOR_RASPBERRY;
}
