@import './../../../shared.scss';

.instructions {
  min-width: 418px;
  padding: 20px;
  border-radius: 10px;
  background: $COLOR_CLOUD;
}

.roleSelection {
  @extend .layout-column;
  margin: 2px 20px 0 20px;

  .role {
    @extend .layout-row;
    align-items: center;

    .memberIcon {
      position: relative;
      top: -4px;
    }
  }

  .warning {
    @extend .typography-body;
    max-width: 422px;
    margin-top: 20px;
    color: $COLOR_RASPBERRY;
  }
}

.customerSelection {
  @extend .layout-column;

  .customers {
    margin: 2px 20px 0 20px;

    .customer {
      display: flex;
      align-items: center;

      > :last-child {
        position: relative;
        top: -4px;
      }
    }
  }
}

.displayMember {
  @extend .layout-row;
  user-select: none;
  padding-bottom: 15px;

  .leftSideDiv {
    @extend .layout-row;
    justify-content: flex-start;
    text-align: left;
    gap: 17.5px;

    .email {
      width: 290px;
      @extend .hide-text-ellipsis;
    }
  }

  .rightSideDiv {
    @extend .layout-row;
    @extend .grow;
    justify-content: flex-end;
    gap: 18px;
    align-items: center;

    .edit {
      @extend .layout-row;
      gap: 12px;
      align-items: center;
      .alert {
        position: relative;
        top: -1px;
        margin: 0;
      }
    }
  }

  .memberIcon {
    @extend .layout-row;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
  }
}

.addOrEditMember {
  @extend .layout-column;
  background-color: white;
  padding: 25px 20px;
  border-radius: 10px;

  gap: 30px;

  .buttons {
    display: flex;
    gap: 20px;
  }
}

.skip {
  margin-top: 25px;
}

.skip button,
.skipTooltip button {
  @extend .linkButton;
  @extend .green;
  @extend .typography-body;
}
