@import '../../shared.scss';

.checkBoxDiv {
  @extend .typography-body;
  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
  user-select: none;
  color: $COLOR_BLACK60;

  &.checked {
    @extend .typography-body-bold;
    color: $COLOR_BLACK100;
  }
}
