@import "../../shared.scss";

.dropContainer {
  margin-top: 12px;
}

.dropButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #0ec679;
    box-sizing: border-box;
    height: 32px;
    min-width: 12em;
    background-color: white;
    font-size: 12px;
    line-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    vertical-align: middle;
    padding-bottom: 2px;
    padding-top: 0px;
    padding-right: 36px;
    padding-left: 24px;
    position: relative;
  }

.dropButton:focus {
  outline:none;
}
  
.dropMenu {
  width: auto;
  min-width: 144px;
  border: 1px solid $COLOR_BLACK10;
  border-radius: 4%;
  display: flex;
  align-items: center; 
  flex-direction: column;
  overflow:hidden;
  margin-top: 4px;
}

.menuCanvas {
  background-color: white;
  width: 100%;
}

.dropItem {
  background-color: white;
  border: none;
  display: block;
  width: 100%;
  font-size: 12px !important;
  line-height: 18px !important;
  text-decoration: none;
  color: black;
  padding: 3px;
}

.dropItem:hover {
  background-color: $COLOR_BLACK5;
  color:black;
  text-decoration: none;
  cursor: pointer;
}

.dropItem:focus {
  outline:none;
}

.disabledItem {
  //background-color: $COLOR_BLACK10;
  font-size: 12px !important;
  line-height: 18px !important;
  color: $COLOR_BLACK40;
  padding: 3px;
  cursor: not-allowed;
}

.expandIcon {
  position: absolute;
  left: 82%;
  margin-top: 26.47px;
  margin-bottom: 24.58px;
}