@import '../../shared.scss';

.fieldContainer {
  @extend .layout-column;
  gap: 0.8rem;

  label {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.tooltipIcon {
  width: 14px;
  height: 14px;
}

.fieldError {
  @extend .typography-body-small;
  @extend .layout-row;
  margin: 0px 1rem;
  gap: 0.5rem;
  color: $COLOR_RASPBERRY;
  path {
    fill: $COLOR_RASPBERRY;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}
