@import '../../shared.scss';

.svgButtonIcon {
  path {
    fill: $COLOR_BLACK40;
    transition: 150ms ease-out;
  }
  &:hover path {
    fill: var(--icon-hover-color, $COLOR_BLACK60);
  }
  cursor: pointer;
}
