@import '../shared.scss';

.configurationPage {
  @extend .layoutCol;
  margin-left: 27px;
}

.columnHeader {
  text-align: left;
  border-bottom: 1px solid $COLOR_BLACK100;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 24px;
}
