@import '../shared.scss';

.configurationPage {
  @extend .layoutCol;
  margin-left: 27px;
  margin-top: 20px;
  gap: 20px;
}

.columnHeader {
  @extend .typography-h3;
  text-align: left;
  padding-top: 16px;
}
