@import '../shared.scss';

.settingsPage {
  @extend .layoutCol;
  margin: 25px 20px;
  gap: 60px;
}

.setting {
  @extend .layout-column;
  align-items: flex-start;

  &:last-child {
    margin-top: auto;
  }

  h2 {
    text-align: left;
    margin-bottom: 20px;
  }
}

.integrations {
  @extend .layout-row;
  flex-wrap: wrap;
  gap: 70px;
}
