@import '../shared.scss';

.body {
  @extend .typography-body;
  p {
    margin-bottom: 1.5rem;
  }
  p:last-child {
    margin-bottom: 0px;
  }
}

.createProjectHeader {
  width: 100%;
  div:last-child {
    @extend .hide-text-ellipsis;
  }
}
