@import '../shared.scss';

.overviewHeader {
  width: 100%;
  text-align: start;
  padding: 0 27px;

  & > .taskmessage {
    font-family: Ibm Plex Mono;
    font-size: 15px;
  }

  & > .welcomemessage {
    font-size: 24px;
    line-height: 32px;
  }
}

.chartWrapper {
  min-width: 840px;
  width: 840px;
  margin-right: 16px;
  margin-top: 16px;
}

.meterWrapper {
  margin-right: 16px;
  margin-top: 16px;
}

.chartFlexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 27px;
}

.usernameSpan {
  font-weight: 600;
}

.taskCountSpan {
  font-weight: 600;
  color: $COLOR_EMERALD;
  text-decoration: underline;
}

.taskTableWrapper {
  margin-left: 26px;
  & > .titleContainer {
    display: flex;
    line-height: 150%;
    margin-top: 16px;
    margin-bottom: 26px;
    align-items: center;
    .title {
      text-align: start;
    }
    .infoIcon {
      margin-left: 12px;
    }
  }
}
