@import '../shared.scss';

.background {
  &:before {
    content: '';
    background-image: url(../assets/images/visdom-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1025px;
    border: 0px;
  }
  display: grid;

  width: 100%;
  grid-template-rows: 1fr auto auto;

  position: relative;
  top: 0;
  left: 0;

  h1 {
    color: white;
    margin: 20px 10px;
  }

  h2 {
    color: white;
    opacity: 0.7;

    margin: 20px 0px;
  }

  ul {
    margin: 12px;
    padding: 0px 8px;
  }

  li {
    @extend .typography-body;

    margin: 10px 0px;

    color: $COLOR_BLACK60;

    text-align: start;
    &::marker {
      font-size: 1.5em;
      color: $COLOR_EMERALD;
    }
    overflow-wrap: break-word;
  }
}

.gradient {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    #c3c3c3 85%,
    #d3d3d3 100%
  );
}

.bigLogo {
  position: relative;
  width: 300px;
  height: auto;
  max-width: 40vw;
  margin-top: 12rem;
  margin-bottom: 4rem;
}

.cards {
  @include landing-content-padding;
  position: relative;
  z-index: 2;
  background-image: linear-gradient(
    176deg,
    transparent,
    transparent 60%,
    $COLOR_BLACK5 60%
  );

  margin-top: 8em;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  align-content: center;
}

.card {
  padding: 0px 26px;
  padding-bottom: 36px;
  text-align: start;
  min-width: min(30ch, 100%);

  flex: 1 1 30%;

  background: white;
  border-radius: 10px;
  @extend .shadow-landing;

  h3 {
    color: $COLOR_BLACK100;
    margin: 30px 0px;
  }

  hr {
    width: 20px;
    height: 0px;
    left: 0px;
    margin: 30px 0px;

    border-top: 1px solid $COLOR_AZURE;
  }
}

.content {
  position: relative;
  background: $COLOR_BLACK5;
  @include landing-content-padding;
  padding-bottom: 4rem;
  padding-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;

  text-align: start;

  svg {
    flex: 1 1 30%;

    margin: auto;
    padding: 10px 0px;

    max-width: 300px;
    min-width: 200px;
    object-fit: scale-down;
  }

  div {
    flex: 1 0 60%;

    height: 100%;

    margin: 0px;

    @extend .typography-body;

    color: $COLOR_BLACK60;
  }

  p {
    margin: 30px 0px;
  }

  a {
    color: $COLOR_EMERALD;
    &:hover {
      color: $COLOR_FOREST;
    }
  }

  strong {
    color: $COLOR_AZURE;
  }

  h2 {
    color: $COLOR_BLACK100;
  }
}

.contact {
  background: $COLOR_BLACK10;
  position: relative;
  width: 100%;
  min-height: 320px;
  text-align: center;

  h3 {
    @extend .typography-subtitle;
    margin: 86px 0px 63px 0px;
    color: $COLOR_BLACK100;
  }

  div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  a {
    @extend .button-small-outlined;
    line-height: 100%;
    height: 34px;
    min-width: max-content;

    color: $COLOR_BLACK100;
  }
}

.login {
  background: $COLOR_EMERALD;
  position: relative;
  width: 100%;
  min-height: 402px;
  text-align: center;
  color: white;
  h3 {
    @extend .typography-subtitle;
    margin: 86px 0px 63px 0px;
  }
  div {
    width: 200px;
    margin: 0 auto 63px;
  }
  a:not(.registerButton) {
    color: white;
    font-weight: bold;
    margin-left: 10;
  }
}

.registerButton {
  @extend .button-large;
  background-color: white;
  color: $COLOR_BLACK100;

  display: flex;
  justify-content: center;

  &:hover:not(.cancel, :disabled) {
    color: $COLOR_BLACK100;
    background-color: white;
  }
}
