@import '../shared.scss';

.formDiv {
  padding: 8px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  width: 600px;
  background-color: white;
  border-radius: 20px;
  padding: 50px 30px;

  font-size: 30px; // for spacing form elements
}
