@import '../shared.scss';

.horizontalScroller {
  margin-left: 8px;
}

.unorderedTasksWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 366px;
  margin-top: 26px;
  background-color: $COLOR_BLACK10;
  border-radius: 10px;
  &.minimized {
    width: 65px;
  }
}

.unorderedTasksHeader {
  display: flex;
  align-items: center;
  margin: 16px;
  margin-bottom: 0;

  @extend .typography-pre-title;
  text-align: left;
  cursor: pointer;

  svg {
    margin-right: 11px;
  }
  &.minimized {
    flex-direction: column;
    align-items: flex-end;
  }
  &.minimized > div {
    white-space: nowrap;
    margin-right: 16px;
    transform: rotate(-90deg);
    transform-origin: right;
  }
  &.minimized > svg {
    margin-right: 0;
    margin-bottom: 11px;
  }
}

.milestoneHeader {
  overflow-wrap: break-word;
  width: 100%;
  border-bottom: 1px solid $COLOR_BLACK10;
  padding: 13px 15px;

  @extend .typography-body-bold;

  text-align: left;
}

.milestoneFooter {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid $COLOR_BLACK10;
  padding: 13px;
}

.sortableListWrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  height: inherit;
  padding: 16px;
  scrollbar-width: thin;

  @extend .typography-body-small;

  &.milestone {
    padding: 0px;
    padding-top: 7px;
    padding-bottom: 1px;
  }
}

.ratingsSummaryWrapper {
  @extend .sortableListWrapper;
  border-top: 1px solid $COLOR_BLACK10;
  padding: 15px;
  padding-right: 11px;
  padding-bottom: 7.5px;
}

.milestoneWrapper {
  @extend .shadow-roadmapblock;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid transparent;
  margin-top: 26px;
  overflow-x: visible;

  &.addNewBtnWrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    background-color: transparent;
  }
}

.infoBackground {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(white, 0.4);
  width: 34px;
  height: 34px;
}
