@import '../shared.scss';
@import '../components/SortableTaskList.module.scss';

.tooltipIcon {
  width: 30px;
  height: 30px;
}
.loadingSpinnerContainer {
  position: relative;
  top: 50%;
}

.horizontalScroller {
  margin-left: 8px;
  cursor: default;
}

.unorderedCol {
  margin-top: 26px;
  margin-bottom: 16px;
}

.milestoneCol {
  @extend .layoutCol;
  justify-content: flex-start;
  flex-grow: 0;
  width: 290px;
  overflow-y: visible;
  overflow-x: visible;
  background-color: transparent;
  border-radius: 8px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.milestoneHeader {
  overflow-wrap: break-word;
  width: 100%;
  border-bottom: 1px solid $COLOR_BLACK10;
  padding: 13px 15px;

  @extend .typography-body-bold;

  text-align: left;

  svg {
    margin-right: 10px;
  }
}

.milestoneFooter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid $COLOR_BLACK10;
  padding: 13px;
}

.summaryWrapper {
  border-top: 1px solid $COLOR_BLACK10;
  padding: 15px;
  padding-right: 11px;
  padding-bottom: 7.5px;
  &.completed {
    color: $COLOR_BLACK60;
    filter: grayscale(100) opacity(70%);
  }
}

.milestoneContainer {
  @extend .layout-row;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.milestoneWrapper {
  @extend .shadow-roadmapblock;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 600px;
  width: 290px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid transparent;
  margin-top: 26px;
  overflow-x: visible;

  &.addNewBtnWrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    background-color: transparent;
  }
  &.completed {
    border: 1px solid $COLOR_EMERALD;
    background-color: lighten($COLOR_MINT, 2);
    .milestoneHeader {
      color: $COLOR_EMERALD;
    }
    .milestoneTasks {
      color: $COLOR_BLACK60;
    }
    &.selected {
      background-color: $COLOR_CLOUD_MINT_MIX;
    }
  }
  &:hover:not(.addNewBtnWrapper, .dragging),
  &:focus:not(.addNewBtnWrapper, .dragging) {
    outline: none;
    border: 1px solid $COLOR_SKY;
    transform: scale(0.99, 0.99);
  }
  &.selected {
    background-color: $COLOR_CLOUD;
    border: 1px solid $COLOR_AZURE !important;
    transform: scale(0.97, 0.97) !important;
  }
}

.infoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}

.instructions {
  @extend .typography-pre-title;
  @extend .layout-column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $COLOR_BLACK40;
  box-shadow: none;

  .text {
    padding: 15px;
    padding-bottom: 0;
  }
}

.topbar {
  @extend .layout-row;
  min-height: 60px;
  overflow-x: auto;
  align-items: center;
  border-bottom: 1px solid $COLOR_BLACK40;
  margin-left: 23px;
  padding: 10px 0px;
}

.topbarShares {
  @extend .typography-pre-title;
  @extend .layout-column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0px 10px;
}

.clientWeightsLink {
  margin-top: 1em;
}

.topbarRightSide {
  @extend .layout-row;
  @extend .rightSide;
  gap: 15px;
  padding: 0 15px;
  border-left: 1px solid $COLOR_BLACK40;
}
