@import '../shared.scss';

.title {
  text-align: start;
}

.weightsHeader {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 35px;
  .infoIcon {
    margin-left: 12px;
  }
}

.description {
  text-align: start;
  margin-left: 28px;
  margin-bottom: 30px;
  max-width: 560px;
}

.userRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .customerDot {
    margin-left: 28px;
    margin-right: 40px;
  }

  .customer {
    min-width: 320px;
    text-align: start;
    padding: 24px 0;
  }

  .slider {
    margin-right: 28px;
  }
}
