@import '../shared.scss';

.titleContainer {
  display: flex;
  line-height: 150%;
  margin-bottom: 35px;
  align-items: center;
  .title {
    margin-left: 25px;
  }
  .infoIcon {
    margin-left: 12px;
  }
}

.userRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .customerDot {
    margin-left: 28px;
    margin-right: 40px;
  }

  .customer {
    min-width: 320px;
    text-align: start;
    padding: 24px 0;
  }

  .slider {
    min-width: 500px;
    max-width: 500px;
  }
}
