@import '../shared.scss';

.projectOverview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-left: 15px;

  h2 {
    margin-left: 10px;
    margin-bottom: 60px;
  }
}

.roadmapsContainer {
  display: flex;
  align-items: flex-start;
}

.addButtonContainer {
  display: flex;
  align-items: stretch;
  margin: 10px;
  width: 360px;
  height: 110px;
}
