@import '../shared.scss';

.projectOverview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  padding-right: 2px;
  padding-bottom: 2px;

  h2 {
    margin-left: 25px;
    margin-bottom: 40px;
  }
}

.roadmapsContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-left: 10px;
}

.addButtonContainer {
  display: flex;
  align-items: stretch;
  margin: 10px;
  min-width: 360px;
  min-height: 115px;
}
