@import '../shared.scss';

.termsLabel {
  @extend .typography-body;
  color: $COLOR_BLACK60;
  margin-left: 10px;
  line-height: 21px;
}

.termsLabel > a {
  color: $COLOR_EMERALD;
  text-decoration: underline;
}
