@import '../shared.scss';

.graphOuter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 500px;
  min-height: 500px;
  margin-left: 20px;
  overflow-x: auto;
}

.titleContainer {
  display: flex;
  line-height: 150%;
  margin-bottom: 39px;
  align-items: center;
  .graphTitle {
    text-align: start;
    margin-left: 6px;
  }
  .graphInfoIcon {
    margin-left: 12px;
  }
  &.lowerGraphTitleContainer {
    margin-bottom: 29px;
  }
}

.graphLabel {
  @extend .typography-pre-title;
  color: $COLOR_BLACK40;
  &.vertical {
    width: 100px;
    transform: rotate(-90deg);
    position: relative;
    left: -43px;
    top: -250px;
  }
  &:not(.vertical) {
    margin-top: 9px;
  }
}

.graphInner {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: auto;
  border-left: 1px solid $COLOR_BLACK40;
  border-bottom: 1px solid $COLOR_BLACK40;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 20px;
}

.graphItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-x: visible;
}

.graphItem {
  @extend .shadow-roadmapblock;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  border-radius: 8px;
  margin-right: 11px;
  padding: 8px;
  background-color: white;
  cursor: pointer;
  &:hover {
    background-color: $COLOR_BLACK5;
  }
  &:active {
    transform: scale(0.97, 0.97);
  }
  &.selected {
    background: $COLOR_CLOUD;
  }
  user-select: none;
}

.footer {
  min-height: 200px;
  margin-left: 20px;
  margin-bottom: 45px;
}

.versionData {
  :last-child {
    margin-bottom: 0;
  }
}

.ratingDiv {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  @extend .typography-pre-title;
  line-height: unset;
  color: $COLOR_BLACK60;
  svg {
    color: $COLOR_BLACK100;
    width: 10.5px;
    height: 10.5px;
  }
  p {
    margin-left: 4.75px;
  }
}

.dash {
  border: 0.5px solid $COLOR_BLACK10;
  width: 37px;
}

.versionTitle {
  padding: 0;
  margin: 0;
  margin-top: auto;
  text-align: start;
  @extend .typography-body;
  color: $COLOR_BLACK100;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.selected {
    color: $COLOR_AZURE;
  }
}
