@import '../shared.scss';

.plannerContainer {
  @extend .layoutCol;
  flex-direction: row;
  overflow: hidden;
}

.drawer:global(.MuiDrawer-root .MuiDrawer-paper) {
  position: relative;
}

.plannerPagecontainer {
  cursor: inherit;
  overflow-y: auto;
  overflow-x: auto;
  flex-grow: 1;
}

.titleContainer {
  display: flex;
  line-height: 150%;
  margin-bottom: 39px;
  align-items: center;
  .graphTitle {
    text-align: start;
    margin-left: 6px;
  }
  .infoIcon {
    margin-left: 12px;
  }
  &.lowerGraphTitleContainer {
    margin-bottom: 29px;
  }
}

.footer {
  min-height: 200px;
  margin-left: 30px;
  margin-bottom: 45px;
}

.lines {
  position: absolute;
  margin-left: -30px;
  margin-top: -15px;
  height: calc(var(--bar-height) + 2 * 15px /* offset the top margin */);
  width: 100%;
  @extend .layout-column;
  justify-content: space-between;
  color: $COLOR_BLACK60;
  & > div {
    @extend .layout-row;
    gap: 0.5rem;
    & > span {
      width: 4ch;
      text-align: end;
    }
    & > hr {
      width: 100%;
    }
  }
}

.stakesContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.versionData {
  :last-child {
    margin-bottom: 0;
  }
}

.ratingDiv {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  @extend .typography-pre-title;
  line-height: unset;

  svg {
    width: 10.5px;
    height: 10.5px;
  }
  p {
    margin-left: 4.75px;
  }
}

.dash {
  border: 0.5px solid $COLOR_BLACK10;
  width: 37px;
}

.versionTitle {
  padding: 0;
  margin: 0;
  margin-top: auto;
  text-align: start;
  @extend .typography-body;
  color: $COLOR_BLACK100;
  @extend .hide-text-ellipsis;
  &.selected {
    color: $COLOR_AZURE;
  }
}
