@import '../shared.scss';

.taskmap {
  @extend .layout-column;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flowContainer {
  @extend .layout-row;
  height: 100%;
  width: 100%;
  background-color: $COLOR_WHITE;
  border-radius: 10px;
  min-height: 300px;
}

.taskOverviewContainer {
  @extend .layout-row;
  margin: 15px 0 5px 75px;
}

.loading {
  cursor: wait;
}
