@import '../shared.scss';

.content {
  @extend .layout-row;
  width: 100%;
  flex-grow: 1;
}

.section {
  @extend .layout-column;
  align-items: flex-start;
  gap: 30px;
}

.header {
  @extend .layout-column;
  gap: 15px;
  text-align: left;
  min-width: 550px;

  .missingRatings {
    @extend .layout-row;
    justify-content: space-between;
    height: 42px;
    gap: 25px;
  }
}

.ratings {
  @extend .content;
  gap: 10%;
}

.relations {
  @extend .content;
  gap: 4%;
}
