@import '../shared.scss';

.addNewButtonContainer {
  min-width: 10em;
  position: relative;
  display: flex;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  & > :first-child {
    margin-right: 20px;
  }
}

.infoIcon {
  margin-top: 8px;
  margin-left: 24px;
  height: 16 !important;
  width: 16 !important;
  color: $COLOR_EMERALD;
}

.unratedTableContainer {
  margin-bottom: 50px;
}

.tableHeader {
  display: flex;
  margin-top: 25px;
  margin-bottom: 27px;
}
