@import '../shared.scss';

.data {
  margin-top: 32px;
  display: flex;
}

table {
  margin-top: 32px;

  td {
    vertical-align: top;
    text-align: left;
    padding: 8px 16px;
  }
}
.attName {
  color: #00a3ff;
  font-weight: bold;
}
