@import '../shared.scss';

$ZOOM: var(--zoom, 1);

.taskmap {
  @extend .layout-column;
}

.flowContainer {
  @extend .layout-row;
  width: 100%;
  background-color: $COLOR_WHITE;
  border-radius: 10px;
  min-height: 300px;
  margin-top: 10px;
}

.taskOverviewContainer {
  @extend .layout-row;
  margin-top: 20px;
  margin-left: 10px;
  min-height: 140px;
}

.info {
  position: relative;
  left: 28px;
  bottom: 26px;
  width: 16px;
}

.taskName {
  width: 210px;
  max-height: 40px;
  text-align: left;
  overflow: hidden;
  word-wrap: break-word;

  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;

  &.dragging {
    width: calc(210px * #{$ZOOM});
    max-height: calc(40px * #{$ZOOM});
  }
}

.measureTaskName {
  @extend .taskName;
  visibility: hidden;
}
