@import '../shared.scss';

.graphTitle {
  font-size: 28px;
  font-weight: 600;
  text-align: start;
}

.formLabel {
  text-align: start;
  font-size: 12px;
  font-family: Anonymous Pro;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  color: $COLOR_AZURE;
}

.graphInner {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: auto;
  justify-content: flex-start;
}

.graphItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: visible;
}

.graphItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f1f1;
  overflow-x: visible;
  border-radius: 8px;
  padding: 8px;
  background-color: #fbfbfb;
  border: 1px solid #f1f1f1;
}

.graphItemWrapper {
  text-align: center;
  margin-right: 22px;
}

.graphItemDuration {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.versionSelect {
  display: block;
  min-width: 250px;
  max-width: 250px;
  font-size: 16px;
  margin-top: 6px;
}

.textInputWrapper {
  width: 240px;
  margin-left: 16px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.versionData {
  font-family: IBM Plex Mono;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-align: start;

  svg {
    position: relative;
    top: -1px;
    color: $COLOR_AZURE;
    margin-right: 2px;
    width: 13px;
    height: 13px;
  }

  &.versionTitle {
    font-weight: bold;
    font-size: 14px;
    font-family: unset;
  }
}
