@import '../shared.scss';
@import '../components/forms/DropdownWhite.module.scss';

.graphTitle {
  text-align: start;
  margin-bottom: 20px;
}

.formLabel {
  @extend .typography-pre-title;
  color: $COLOR_AZURE;
  text-align: start;
}

.graphItems {
  @extend .layout-row;
  flex-grow: 1;
  overflow-x: auto;
  align-items: stretch;
  text-align: center;
  gap: 20px;
}

.graphItemWrapper {
  @extend .layout-column;
  align-items: center;
}

.graphItem {
  @extend .shadow-roadmapblock;
  @extend .layout-column;
  border-radius: 10px;
  background-color: $COLOR_WHITE;
  width: 200px;

  & > div {
    padding: 13px 15px;
    border-top: 1px solid $COLOR_BLACK10;
  }

  &.selected {
    background-color: $COLOR_CLOUD;
    border: 1px solid $COLOR_AZURE;
  }
}

.verticalLine {
  border-left: 2px solid $COLOR_BLACK10;
  flex: 2;
  min-height: 95px;
  margin: 10px 0;
}

.graphItemDuration {
  @extend .typography-body-small;
  @extend .layout-row;
  text-align: center;
  align-items: baseline;
  gap: 7px;
  color: $COLOR_BLACK60;

  .duration {
    @extend .typography-h3;
    color: $COLOR_BLACK100;
  }
  &.selected .duration {
    color: $COLOR_AZURE;
  }
}

.textInputWrapper {
  width: 240px;
  margin-left: 16px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.versionTitle {
  @extend .typography-body-bold;
  text-align: start;
  padding: 13px 15px;
  margin: 0;
}

.durationInput {
  background-color: $COLOR_WHITE;
  height: 54px;
  margin-top: 5px;
}

.infoIcon {
  margin-left: 12px;
}

.timelineContainer {
  margin-left: 3px; // Fixes overlapping with div on the left
}

.dropdownContainer .dropTitle {
  color: $COLOR_AZURE;
}
