@import '../shared.scss';

.graphTitle {
  text-align: start;
  margin-bottom: 20px;
}

.formLabel {
  @extend .typography-pre-title;
  color: $COLOR_AZURE;
  text-align: start;
}

.graphItems {
  @extend .layout-row;
  flex-grow: 1;
  overflow-x: auto;
  align-items: stretch;
  text-align: center;
  gap: 20px;
}

.graphItemWrapper {
  @extend .layout-column;
  align-items: center;
}

.graphItem {
  @extend .shadow-roadmapblock;
  @extend .layout-column;
  border-radius: 10px;
  background-color: $COLOR_WHITE;
  width: 200px;

  & > div {
    padding: 13px 15px;
    border-top: 1px solid $COLOR_BLACK10;
  }

  &.selected {
    background-color: $COLOR_CLOUD;
    border: 1px solid $COLOR_AZURE;
  }
  &.completed {
    border: 1px solid $COLOR_EMERALD;
    background-color: lighten($COLOR_MINT, 2);

    .versionTitle {
      color: $COLOR_EMERALD;
    }
    &.selected {
      background-color: $COLOR_CLOUD_MINT_MIX;
    }
  }
}

.verticalLine {
  border-left: 2px solid $COLOR_BLACK10;
  flex: 2;
  min-height: 95px;
  margin: 10px 0;
}

.graphItemDuration {
  @extend .typography-body-small;
  @extend .layout-row;
  text-align: center;
  align-items: baseline;
  gap: 7px;
  color: $COLOR_BLACK60;

  .duration {
    @extend .typography-h3;
    color: $COLOR_BLACK100;
  }
  &.selected .duration {
    color: $COLOR_AZURE;
  }
}

.textInputWrapper {
  width: 240px;
  margin-left: 16px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.versionTitle {
  @extend .typography-body-bold;
  text-align: start;
  padding: 13px 15px;
  margin: 0;
}

.durationInput {
  background-color: $COLOR_WHITE;
  height: 54px;
  margin-top: 5px;
}

.infoIcon {
  margin-left: 12px;
}

.timelineContainer {
  margin-left: 3px; // Fixes overlapping with div on the left
}

//Drop-down stylings

.dropButton {
  width: 500px;
  height: 54px;
  padding: 13px 20px 13px 20px;
  border: none;
  border-radius: 10px;
  background-color: $COLOR_WHITE;
  text-align: left;
  margin-top: 5px;
  position: relative;
}

.dropButton:disabled {
  font-size: 12px !important;
  line-height: 18px !important;
  color: $COLOR_BLACK40;
  padding: 3px;
  cursor: not-allowed;
}

.dropMenu {
  width: auto;
  min-width: 144px;
  margin-top: -5px;
  border-radius: 0px 0px 10px 10px;
  @extend .layout-column;
  align-items: center;
  overflow: hidden;
  z-index: 999;
}

.menuCanvas {
  background-color: $COLOR_WHITE;
  border: 2px solid $COLOR_WHITE;
  width: 100%;
  z-index: 999;
}

.dropTitle {
  color: $COLOR_AZURE;
  font-weight: bold;
}

.emptyTitle {
  color: $COLOR_BLACK60;
}

.notSelected {
  color: $COLOR_BLACK60;
  font-weight: normal;
}

.dropItem {
  font-size: 14px;
  padding: 10px 20px 10px 20px;

  &:last-child {
    border-radius: 0px 0px 10px 10px;
  }
}

.disabledItem {
  font-size: 12px !important;
  line-height: 18px !important;
  color: $COLOR_BLACK40;
  padding: 3px;
  cursor: not-allowed;
}

.expandIcon {
  position: absolute;
  top: 27%;
  right: 4%;
  width: 24px !important;
  height: 24px !important;
}
