$COLOR_EMERALD: #0ec679;
$COLOR_AZURE: #00a3ff;
$COLOR_FOREST: #289c6b;
$COLOR_MINT: #ecfff7;
$COLOR_SKY: #a6dfff;
$COLOR_CLOUD: #ecf8ff;
$COLOR_RASPBERRY: #ff3062;
$COLOR_MANDY: #e24a4a; // https://hexcolor.co/hex/e24a4a
$COLOR_MANDY_HOVER: adjust-color($COLOR_MANDY, $lightness: -7%);
$COLOR_ORANGE: #ffac30;
$COLOR_WHITE: #ffffff;

$COLOR_RANDOM_1: #e24a4a;
$COLOR_RANDOM_2: #53d4f0;
$COLOR_RANDOM_3: #8ce434;
$COLOR_RANDOM_4: #aa75ee;
$COLOR_RANDOM_5: #fbd92a;
$COLOR_RANDOM_6: #ea9128;
$COLOR_RANDOM_7: #808080;
$COLOR_RANDOM_8: #f032e6;
$COLOR_RANDOM_9: #008080;
$COLOR_RANDOM_10: #aa6e28;

$COLOR_BLACK100: #000000;
$COLOR_BLACK60: #6a6a6a;
$COLOR_BLACK40: #c6c6c6;
$COLOR_BLACK10: #e3e3e3;
$COLOR_BLACK5: #f5f5f5;

$COLOR_CLOUD_MINT_MIX: #ecfcfb;

:export {
  emerald: $COLOR_EMERALD;
  azure: $COLOR_AZURE;
  forest: $COLOR_FOREST;
  mint: $COLOR_MINT;
  sky: $COLOR_SKY;
  cloud: $COLOR_CLOUD;
  raspberry: $COLOR_RASPBERRY;
  mandy: $COLOR_MANDY;
  mandy_hover: $COLOR_MANDY_HOVER;
  orange: $COLOR_ORANGE;
  white: $COLOR_WHITE;

  random_1: $COLOR_RANDOM_1;
  random_2: $COLOR_RANDOM_2;
  random_3: $COLOR_RANDOM_3;
  random_4: $COLOR_RANDOM_4;
  random_5: $COLOR_RANDOM_5;
  random_6: $COLOR_RANDOM_6;
  random_7: $COLOR_RANDOM_7;
  random_8: $COLOR_RANDOM_8;
  random_9: $COLOR_RANDOM_9;
  random_10: $COLOR_RANDOM_10;

  black100: $COLOR_BLACK100;
  black60: $COLOR_BLACK60;
  black40: $COLOR_BLACK40;
  black10: $COLOR_BLACK10;
  black5: $COLOR_BLACK5;

  cloud_mint_mix: $COLOR_CLOUD_MINT_MIX;
}
