@import './typography.scss';
@import './colors.module.scss';

html {
  font-family: Work Sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

h1 {
  @extend .typography-h1;
}

h2 {
  @extend .typography-h2;
}

h3 {
  @extend .typography-h3;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow-y: auto;
}

// custom scrollbar
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: $COLOR_BLACK10;
}
::-webkit-scrollbar-thumb {
  border-radius: 49px;
  background-color: $COLOR_BLACK40 !important;
}
