@import './typography.scss';
@import './colors.module.scss';

.shadow-landing {
  -webkit-box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.2);
}

.shadow-popup {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.shadow-tooltip {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.shadow-roadmapblock {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.shadow-input {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(14, 198, 121, 0.3);
  box-shadow: 0px 0px 0px 3px rgba(14, 198, 121, 0.3);
}

.shadow-input-invalid {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(255, 48, 97, 0.25);
  box-shadow: 0px 0px 0px 3px rgba(255, 48, 97, 0.25);
}

.alert {
  @extend .typography-body;
  margin: 10px 0px;
  border-radius: 10px;
}

label {
  @extend .typography-pre-title;
  color: $COLOR_AZURE;
  margin-bottom: 5px;
}

form {
  > button {
    margin-top: 20px;
  }
}

.transform-transition {
  transition: 150ms ease-out;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.grow {
  flex-grow: 1;
}

.overflow-auto {
  overflow-y: auto;
  overflow-x: auto;
}

.loading-cursor {
  cursor: wait;
}

.layoutRow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow-y: 'visible';
  overflow-x: 'auto';

  &.overflowYScroll {
    overflow-y: scroll;
  }
  &.overflowYAuto {
    overflow-y: auto;
  }
  &.overflowXScroll {
    overflow-y: scroll;
  }
  &.overflowXVisible {
    overflow-y: visible;
  }
}

.layoutCol {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: auto;

  &.overflowYScroll {
    overflow-y: scroll;
  }
  &.overflowYVisible {
    overflow-y: visible;
  }
  &.overflowXScroll {
    overflow-y: scroll;
  }
  &.overflowXVisible {
    overflow-y: visible;
  }
  &.roadmapPageContainer {
    padding: 0 23px 0 20px;
  }
  &.unorderedTasksCol {
    flex: 1;
    flex-grow: 0;
    width: 366px;
    overflow-y: visible;
    overflow-x: visible;
    margin-bottom: 16px;
    background-color: transparent;
    &.minimized {
      width: 65px;
    }
  }
  &.milestoneCol {
    justify-content: flex-start;
    flex-grow: 0;
    width: 200px;
    overflow-y: visible;
    overflow-x: visible;
    background-color: transparent;
    border-radius: 8px;
    margin-left: 20px;
    margin-bottom: 16px;
  }
}

.plannerPagecontainer {
  margin-top: 45px;
  &.timeEstimation {
    margin-left: 26px;
  }
}

.topBar {
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 9px;
  padding-right: 15px;
  background-color: white;
  border-radius: 52px;
  margin-bottom: 15px;
}

.styledTable {
  width: 100%;
  thead {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  }
}

.styledTr {
  &.clickable {
    cursor: pointer;
    user-select: none;
  }
  > td:first-child,
  > th:first-child {
    padding-left: 26px;
  }
}

.styledTh {
  @extend .typography-body-bold;
  padding: 16px;
  vertical-align: middle;
  width: auto;
  text-align: left;

  &.clickable {
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  &.textAlignEnd {
    text-align: end;
  }
  &.textAlignCenter {
    text-align: center;
  }
}

.styledTd {
  padding: 16px;
  vertical-align: middle;
  max-width: 30em;
  width: auto;
  cursor: inherit;
  text-align: left;
  white-space: inherit;

  &.clickable {
    cursor: pointer;
  }
  &.nowrap {
    white-space: nowrap;
  }
  &.textAlignEnd {
    text-align: end;
  }
  &.textAlignCenter {
    text-align: center;
  }
}

.headerSpan {
  position: relative;

  svg {
    position: absolute;
    right: -1.6em;
    width: 1.2em;
    height: 1.2em;
  }
}

.searchBarContainer {
  position: relative;
  max-width: 20em;
  min-width: 12em;

  svg {
    fill: $COLOR_BLACK100;
    position: absolute;
    top: 0.8em;
    right: 1em;
  }
}

.button-small-filled {
  @extend .transform-transition;
  @extend .typography-body-small;
  background: $COLOR_EMERALD;
  color: white;

  align-items: center;
  padding: 10px 16px;
  border-radius: 25px;
  border: 0;

  &:hover:not(.cancel, :disabled),
  &:focus:not(.cancel, :disabled) {
    outline: none;
    background: $COLOR_FOREST;
    color: white;
  }
  &.cancel {
    background-color: transparent;
    color: $COLOR_BLACK100;
    &:hover,
    &:focus {
      outline: none;
      background: $COLOR_BLACK5;
    }
  }
  &:disabled {
    background: $COLOR_BLACK40;
  }
}

.button-large {
  @extend .button-small-filled;
  @extend .typography-button;
  border-radius: 30px;
  width: 100%;
  height: 50px;
}

.button-small-outlined {
  @extend .transform-transition;
  @extend .typography-body-small;
  align-items: center;
  padding: 10px 16px;

  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid;
  border-color: $COLOR_EMERALD;
  background-color: transparent;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    outline: none;
    background: white;
  }
  &:disabled {
    border-color: $COLOR_BLACK40;
  }
}

.tooltip-base {
  @extend .shadow-tooltip;

  background: white;
  border-radius: 19px;

  @extend .typography-pre-title;

  display: flex;
  align-items: center;
  text-align: center;

  color: $COLOR_BLACK100;

  padding: 10px 17px;
  margin: 0px 10px;
}

.tooltip {
  @extend .tooltip-base;
  margin: 0px 0px 10px 0px;
}

.tooltipArrow {
  color: white;
}

@mixin landing-content-padding {
  padding-left: max(calc((100% - 1000px) / 2), 8vw);
  padding-right: max(calc((100% - 1000px) / 2), 8vw);
}

.react-select input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.input-invalid {
  &:invalid {
    @extend .shadow-input-invalid;
    &:focus {
      border: 1px solid $COLOR_RASPBERRY;
    }
  }
}

input {
  display: flex;
  align-items: center;
  min-height: 50px;
  width: 100%;
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: $COLOR_BLACK5;

  @extend .typography-body-bold;
  color: $COLOR_BLACK100;

  &:focus {
    @extend .shadow-input;
    border: 1px solid $COLOR_EMERALD;
    outline: none;
  }
  &::placeholder {
    @extend .typography-body;
    color: $COLOR_BLACK60;
  }
  &.number {
    background-color: white;
  }
  &.search {
    border-radius: 49px;
    min-height: 40px;
    height: 40px;
    padding-left: 18px;
  }
}

textarea {
  @extend input;
}

.checkBox {
  color: $COLOR_EMERALD;
  &.unchecked {
    color: $COLOR_BLACK40;
  }
}

.modalCancelContent,
.modalDoneContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 48px;
  svg {
    margin-top: 28px;
    margin-bottom: 55px;
  }
}

a.green {
  text-decoration: underline;
  color: $COLOR_EMERALD;
  &:hover {
    color: $COLOR_FOREST;
  }
}
