@import '../../shared.scss';

.representatives {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.rep {
  display: flex;
  margin-left: 13px;
  gap: 13px;

  svg {
    position: relative;
    top: -3px;
  }
}
