@import '../../shared.scss';

.addMembersStep {
  @extend .layout-column;
  width: 458px;
  gap: 15px;
}

.addBox {
  @extend .layout-column;
  background: $COLOR_BLACK5;
  border-radius: 10px;
  min-height: 390px;
  padding: 20px;

  .members {
    overflow: auto;
    height: 300px;
    // hide member list scrollbar
    @extend .hide-scrollbar;
  }

  .addMemberButton {
    @extend .layout-row;
    &.bottomItem {
      margin-top: auto;
    }
  }
}

.summaryItem {
  @extend .layout-row;
  gap: 13px;
}

.summaryMembers {
  margin-left: 13px;
}

.finishStep {
  @extend .layout-column;
  align-items: center;
  gap: 13px;

  button {
    @extend .linkButton;
    @extend .green;
  }
}
