@import '../../shared.scss';

.addMemberContent {
  display: flex;
  flex-flow: column;
  gap: 40px;
  width: 458px;
}

.sendEmailContent {
  display: flex;
  flex-flow: column;
  gap: 20px;
  margin-bottom: 20px;
}

.inputContainer {
  margin: 0 3px;
}
