@import '../../shared.scss';

.headerDiv {
  display: flex;
  align-items: baseline;
  gap: 11px;
  svg {
    color: $COLOR_EMERALD;
    position: relative;
    top: 3px;
  }
}

.descriptionDiv {
  @extend .typography-body;
  width: 458px;
  margin-bottom: 21px;
}
