@import '../../shared.scss';

.headerDiv {
  display: flex;
  align-items: baseline;
  gap: 11px;
  svg {
    color: $COLOR_RASPBERRY;
    position: relative;
    top: 3px;
  }
}

.warning {
  @extend .typography-body-bold;
  color: $COLOR_RASPBERRY;
}

.descriptionDiv {
  @extend .typography-body;
  width: 458px;
  margin-bottom: 21px;
}
