@import '../../shared.scss';

.section {
  margin-bottom: 20px;
}

.memberSection {
  padding: 20px 23px;
  display: flex;
  path {
    fill: $COLOR_BLACK40;
  }
  .business {
    width: 18px;
    height: 18px;
  }
  gap: 23px;
}

.roleSection {
  margin: 2px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.warning {
  @extend .typography-body;
  width: 422px;
  margin-top: 20px;
  color: $COLOR_RASPBERRY;
}
