@import '../../shared.scss';

.section {
  margin-bottom: 20px;
}

.memberSection {
  padding: 20px 23px;
  display: flex;
  path {
    fill: $COLOR_BLACK40;
  }
  .business {
    width: 18px;
    height: 18px;
  }
  gap: 23px;
}
