@import '../../shared.scss';

.subtitle {
  @extend .typography-pre-title;
  color: $COLOR_AZURE;
}

.message {
  @extend .subtitle;
  margin-top: 20px;
}

hr {
  color: $COLOR_BLACK5;
  width: 458px;
}

.missingUser {
  @extend .layout-row;
  align-items: center;

  > :last-child {
    position: relative;
    top: -4px;
  }
}
