@import '../../shared.scss';

.content {
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 458px;
}

.listContainer {
  flex-grow: 1;
  min-width: 387px;
  max-width: 420px;
  margin-bottom: 5px;
}

.relationAlert {
  width: 20px;
  svg {
    width: 15px;
    height: 100%;
  }
}
