@import "../../shared.scss";

.taskNameText {
    color: $COLOR_BLACK40;
}

.descriptionRatingsDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    > div {
        margin-right: 8px;
    }

    > div:last-of-type {
        margin-right: 0px;
    }
}

.detailsDiv {
    text-align: start;
    min-width: 8em;
    max-height: 40em;
    font-size: 14px;
}

.labelText {
    font-family: 'Anonymous Pro';
    margin-bottom: 8px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
}