@import '../../shared.scss';

/* UI Elements */
.container {
  margin-top: 8px;
}

.mainHeader {
  margin-top: 9px;
  margin-left: 5px;
  font-weight: 600;
  size: 40px;
  line-height: 28px;
}

.infoIcon {
  color: $COLOR_EMERALD;
  margin-bottom: 4px;
  margin-right: 4px;
}

.infoBox {
  margin-top: -12px;
  margin-bottom: 16px;
}

.fullWidth {
  width: 100%;
}

.modalButton {
  width: 210px;
  margin-top: -12px;
  margin-bottom: 20px;
}

/* Overview and Actions shared styles */
.columnTitle {
  @extend .typography-pre-title;
  color: $COLOR_AZURE;
  margin: 25px 0;
}

.column {
  display: flex;
  margin-bottom: 15px;
}

.overview {
  cursor: pointer;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Overview styles */
.overviewColumn {
  @extend .column;

  .icon {
    flex-basis: 8%;
  }
  .subtitle {
    flex-basis: 25%;
    font-weight: 600;
  }
  .description {
    color: $COLOR_BLACK60;
    flex-basis: 75%;
  }

  &.icon {
    .subtitle {
      flex-basis: 32%;
      margin-right: 5px;
    }
    .description {
      flex-basis: 60%;
    }
  }
}

/* Action styles */
.actionIcons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;

  .item {
    flex-basis: 50%;
    margin-bottom: 15px;
  }
}

.actionColumn {
  @extend .column;

  .subtitle {
    flex-basis: 35%;
    font-weight: 600;
    margin-right: 10px;
  }
  .description {
    color: $COLOR_BLACK60;
    flex-basis: 65%;
  }
  .highlight {
    color: $COLOR_FOREST;
    font-weight: 600;
  }
}
