@import "../../shared.scss";

.taskNameText {
    color: $COLOR_BLACK40;
}

.descriptionRatingsDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    > div {
        margin-right: 8px;
    }

    > div:last-of-type {
        margin-right: 0px;
    }
}

.userRatingDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 50em;
    margin-bottom: 4px;
}

.commentDiv {
    text-align: start;
    min-width: 14em;
    max-height: 40em;
    font-size: 14px;
}

.ratingDiv {
    text-align: start;
    white-space: nowrap;
    max-height: 40em;
    font-size: 14px;
}

.teamRatingDiv {
    margin: 8px;
    max-width: 50em;
}

.columnFlexbox {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    overflow-y: auto;
}

.teamRatingsBox {
    display: flex;
    font-size: 14px;
    margin-top: 8px;
    background-color: #f3f3f3;
    width: 100%;
    overflow-y: auto;
    max-height: 40em;
}

.labelText {
    font-family: 'Anonymous Pro';
    margin-bottom: 8px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
}

.teamRatingUsername {
    display: inline-block;
    font-weight: bold;
    margin-right: 16px;
    width: 14em;
}